## Setting up PySpark

In [1]:
# Downloading Java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
# Downloading Apache Spark with Hadoop
# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"


# install findspark using pip
!pip install -q findspark

In [3]:
import findspark
findspark.init()

In [4]:
# creating spark session 
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [5]:
spark

In [6]:
df_ps = spark.read.csv("/content/drive/MyDrive/Colab Notebooks/life_exp_data.csv")

In [7]:
df_ps.show()

+-----------+----+----------+----------------+---------------+-------------+-------+--------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+-----------+----------+--------------------+-------------------+--------------------+---------+
|        _c0| _c1|       _c2|             _c3|            _c4|          _c5|    _c6|                 _c7|        _c8|     _c9| _c10|              _c11| _c12|             _c13|       _c14|     _c15|       _c16|      _c17|                _c18|               _c19|                _c20|     _c21|
+-----------+----+----------+----------------+---------------+-------------+-------+--------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+-----------+----------+--------------------+-------------------+--------------------+---------+
|    Country|Year|    Status|Life expectancy |Adult Mortality|infant deaths|Alcohol|percentage expend...|Hepatitis B|Measles | BMI |under-five deaths |Polio|Total expenditure|Diphtheria | HIV/AIDS|        GDP|Population| thinness  1-19 y...| thinness 5-9 years|Income compositio...|Schooling|
|Afghanistan|2015|Developing|              65|            263|           62|   0.01|         71.27962362|         65|    1154| 19.1|                83|    6|             8.16|         65|      0.1|  584.25921|  33736494|                17.2|               17.3|               0.479|     10.1|
|Afghanistan|2014|Developing|            59.9|            271|           64|   0.01|         73.52358168|         62|     492| 18.6|                86|   58|             8.18|         62|      0.1| 612.696514|    327582|                17.5|               17.5|               0.476|       10|
|Afghanistan|2013|Developing|            59.9|            268|           66|   0.01|         73.21924272|         64|     430| 18.1|                89|   62|             8.13|         64|      0.1| 631.744976|  31731688|                17.7|               17.7|                0.47|      9.9|
|Afghanistan|2012|Developing|            59.5|            272|           69|   0.01|          78.1842153|         67|    2787| 17.6|                93|   67|             8.52|         67|      0.1|    669.959|   3696958|                17.9|                 18|               0.463|      9.8|
|Afghanistan|2011|Developing|            59.2|            275|           71|   0.01|         7.097108703|         68|    3013| 17.2|                97|   68|             7.87|         68|      0.1|  63.537231|   2978599|                18.2|               18.2|               0.454|      9.5|
|Afghanistan|2010|Developing|            58.8|            279|           74|   0.01|         79.67936736|         66|    1989| 16.7|               102|   66|              9.2|         66|      0.1|  553.32894|   2883167|                18.4|               18.4|               0.448|      9.2|
|Afghanistan|2009|Developing|            58.6|            281|           77|   0.01|         56.76221682|         63|    2861| 16.2|               106|   63|             9.42|         63|      0.1|445.8932979|    284331|                18.6|               18.7|               0.434|      8.9|
|Afghanistan|2008|Developing|            58.1|            287|           80|   0.03|         25.87392536|         64|    1599| 15.7|               110|   64|             8.33|         64|      0.1|373.3611163|   2729431|                18.8|               18.9|               0.433|      8.7|
|Afghanistan|2007|Developing|            57.5|            295|           82|   0.02|         10.91015598|         63|    1141| 15.2|               113|   63|             6.73|         63|      0.1| 369.835796|  26616792|                  19|               19.1|               0.415|      8.4|
|Afghanistan|2006|Developing|            57.3|            295|           84|   0.03|         17.17151751|         64|    1990| 14.7|               116|   58|             7.43|         58|      0.1|  272.56377|   2589345|                19.2|               19.3|               0.405|      8.1|
|Afghanistan|2005|Developing|            57.3|            291|           85|   0.02|         1.388647732|         66|    1296| 14.2|               118|   58|              8.7|         58|      0.1| 25.2941299|    257798|                19.3|               19.5|               0.396|      7.9|
|Afghanistan|2004|Developing|              57|            293|           87|   0.02|         15.29606643|         67|     466| 13.8|               120|    5|             8.79|          5|      0.1|219.1413528|  24118979|                19.5|               19.7|               0.381|      6.8|
|Afghanistan|2003|Developing|            56.7|            295|           87|   0.01|         11.08905273|         65|     798| 13.4|               122|   41|             8.82|         41|      0.1|198.7285436|   2364851|                19.7|               19.9|               0.373|      6.5|
|Afghanistan|2002|Developing|            56.2|              3|           88|   0.01|         16.88735091|         64|    2486|   13|               122|   36|             7.76|         36|      0.1|  187.84595|  21979923|                19.9|                2.2|               0.341|      6.2|
|Afghanistan|2001|Developing|            55.3|            316|           88|   0.01|          10.5747282|         63|    8762| 12.6|               122|   35|              7.8|         33|      0.1|  117.49698|   2966463|                 2.1|                2.4|                0.34|      5.9|
|Afghanistan|2000|Developing|            54.8|            321|           88|   0.01|            10.42496|         62|    6532| 12.2|               122|   24|              8.2|         24|      0.1|     114.56|    293756|                 2.3|                2.5|               0.338|      5.5|
|    Albania|2015|Developing|            77.8|             74|            0|    4.6|         364.9752287|         99|       0|   58|                 0|   99|                6|         99|      0.1| 3954.22783|     28873|                 1.2|                1.3|               0.762|     14.2|
|    Albania|2014|Developing|            77.5|              8|            0|   4.51|         428.7490668|         98|       0| 57.2|                 1|   98|             5.88|         98|      0.1|4575.763787|    288914|                 1.2|                1.3|               0.761|     14.2|
|    Albania|2013|Developing|            77.2|             84|            0|   4.76|         430.8769785|         99|       0| 56.5|                 1|   99|             5.66|         99|      0.1| 4414.72314|    289592|                 1.3|                1.4|               0.759|     14.2|
+-----------+----+----------+----------------+---------------+-------------+-------+--------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+-----------+----------+--------------------+-------------------+--------------------+---------+
only showing top 20 rows

In [8]:
df_ps1 = spark.read.option('header', 'true').csv('/content/drive/MyDrive/Colab Notebooks/life_exp_data.csv')
df_ps1.show()

+-----------+----+----------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+-----------+----------+---------------------+-------------------+-------------------------------+---------+
|    Country|Year|    Status|Life expectancy |Adult Mortality|infant deaths|Alcohol|percentage expenditure|Hepatitis B|Measles | BMI |under-five deaths |Polio|Total expenditure|Diphtheria | HIV/AIDS|        GDP|Population| thinness  1-19 years| thinness 5-9 years|Income composition of resources|Schooling|
+-----------+----+----------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+-----------+----------+---------------------+-------------------+-------------------------------+---------+
|Afghanistan|2015|Developing|              65|            263|           62|   0.01|           71.27962362|         65|    1154| 19.1|                83|    6|             8.16|         65|      0.1|  584.25921|  33736494|                 17.2|               17.3|                          0.479|     10.1|
|Afghanistan|2014|Developing|            59.9|            271|           64|   0.01|           73.52358168|         62|     492| 18.6|                86|   58|             8.18|         62|      0.1| 612.696514|    327582|                 17.5|               17.5|                          0.476|       10|
|Afghanistan|2013|Developing|            59.9|            268|           66|   0.01|           73.21924272|         64|     430| 18.1|                89|   62|             8.13|         64|      0.1| 631.744976|  31731688|                 17.7|               17.7|                           0.47|      9.9|
|Afghanistan|2012|Developing|            59.5|            272|           69|   0.01|            78.1842153|         67|    2787| 17.6|                93|   67|             8.52|         67|      0.1|    669.959|   3696958|                 17.9|                 18|                          0.463|      9.8|
|Afghanistan|2011|Developing|            59.2|            275|           71|   0.01|           7.097108703|         68|    3013| 17.2|                97|   68|             7.87|         68|      0.1|  63.537231|   2978599|                 18.2|               18.2|                          0.454|      9.5|
|Afghanistan|2010|Developing|            58.8|            279|           74|   0.01|           79.67936736|         66|    1989| 16.7|               102|   66|              9.2|         66|      0.1|  553.32894|   2883167|                 18.4|               18.4|                          0.448|      9.2|
|Afghanistan|2009|Developing|            58.6|            281|           77|   0.01|           56.76221682|         63|    2861| 16.2|               106|   63|             9.42|         63|      0.1|445.8932979|    284331|                 18.6|               18.7|                          0.434|      8.9|
|Afghanistan|2008|Developing|            58.1|            287|           80|   0.03|           25.87392536|         64|    1599| 15.7|               110|   64|             8.33|         64|      0.1|373.3611163|   2729431|                 18.8|               18.9|                          0.433|      8.7|
|Afghanistan|2007|Developing|            57.5|            295|           82|   0.02|           10.91015598|         63|    1141| 15.2|               113|   63|             6.73|         63|      0.1| 369.835796|  26616792|                   19|               19.1|                          0.415|      8.4|
|Afghanistan|2006|Developing|            57.3|            295|           84|   0.03|           17.17151751|         64|    1990| 14.7|               116|   58|             7.43|         58|      0.1|  272.56377|   2589345|                 19.2|               19.3|                          0.405|      8.1|
|Afghanistan|2005|Developing|            57.3|            291|           85|   0.02|           1.388647732|         66|    1296| 14.2|               118|   58|              8.7|         58|      0.1| 25.2941299|    257798|                 19.3|               19.5|                          0.396|      7.9|
|Afghanistan|2004|Developing|              57|            293|           87|   0.02|           15.29606643|         67|     466| 13.8|               120|    5|             8.79|          5|      0.1|219.1413528|  24118979|                 19.5|               19.7|                          0.381|      6.8|
|Afghanistan|2003|Developing|            56.7|            295|           87|   0.01|           11.08905273|         65|     798| 13.4|               122|   41|             8.82|         41|      0.1|198.7285436|   2364851|                 19.7|               19.9|                          0.373|      6.5|
|Afghanistan|2002|Developing|            56.2|              3|           88|   0.01|           16.88735091|         64|    2486|   13|               122|   36|             7.76|         36|      0.1|  187.84595|  21979923|                 19.9|                2.2|                          0.341|      6.2|
|Afghanistan|2001|Developing|            55.3|            316|           88|   0.01|            10.5747282|         63|    8762| 12.6|               122|   35|              7.8|         33|      0.1|  117.49698|   2966463|                  2.1|                2.4|                           0.34|      5.9|
|Afghanistan|2000|Developing|            54.8|            321|           88|   0.01|              10.42496|         62|    6532| 12.2|               122|   24|              8.2|         24|      0.1|     114.56|    293756|                  2.3|                2.5|                          0.338|      5.5|
|    Albania|2015|Developing|            77.8|             74|            0|    4.6|           364.9752287|         99|       0|   58|                 0|   99|                6|         99|      0.1| 3954.22783|     28873|                  1.2|                1.3|                          0.762|     14.2|
|    Albania|2014|Developing|            77.5|              8|            0|   4.51|           428.7490668|         98|       0| 57.2|                 1|   98|             5.88|         98|      0.1|4575.763787|    288914|                  1.2|                1.3|                          0.761|     14.2|
|    Albania|2013|Developing|            77.2|             84|            0|   4.76|           430.8769785|         99|       0| 56.5|                 1|   99|             5.66|         99|      0.1| 4414.72314|    289592|                  1.3|                1.4|                          0.759|     14.2|
|    Albania|2012|Developing|            76.9|             86|            0|   5.14|           412.4433563|         99|       9| 55.8|                 1|   99|             5.59|         99|      0.1| 4247.61438|      2941|                  1.3|                1.4|                          0.752|     14.2|
+-----------+----+----------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+-----------+----------+---------------------+-------------------+-------------------------------+---------+
only showing top 20 rows

In [9]:
type(df_ps1)

pyspark.sql.dataframe.DataFrame

In [10]:
df_ps1.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Life expectancy : string (nullable = true)
 |-- Adult Mortality: string (nullable = true)
 |-- infant deaths: string (nullable = true)
 |-- Alcohol: string (nullable = true)
 |-- percentage expenditure: string (nullable = true)
 |-- Hepatitis B: string (nullable = true)
 |-- Measles : string (nullable = true)
 |--  BMI : string (nullable = true)
 |-- under-five deaths : string (nullable = true)
 |-- Polio: string (nullable = true)
 |-- Total expenditure: string (nullable = true)
 |-- Diphtheria : string (nullable = true)
 |--  HIV/AIDS: string (nullable = true)
 |-- GDP: string (nullable = true)
 |-- Population: string (nullable = true)
 |--  thinness  1-19 years: string (nullable = true)
 |--  thinness 5-9 years: string (nullable = true)
 |-- Income composition of resources: string (nullable = true)
 |-- Schooling: string (nullable = true)

- printSchema looks similar to pandas_dataframe.info()
- also the numerical columns are shown as string. will use inferSchema argument for this.

## Tutorial 2

In [11]:
df_ps2 = spark.read.option('header', 'true').csv('/content/drive/MyDrive/Colab Notebooks/life_exp_data.csv', inferSchema=True)
df_ps2.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Status: string (nullable = true)
 |-- Life expectancy : double (nullable = true)
 |-- Adult Mortality: integer (nullable = true)
 |-- infant deaths: integer (nullable = true)
 |-- Alcohol: double (nullable = true)
 |-- percentage expenditure: double (nullable = true)
 |-- Hepatitis B: integer (nullable = true)
 |-- Measles : integer (nullable = true)
 |--  BMI : double (nullable = true)
 |-- under-five deaths : integer (nullable = true)
 |-- Polio: integer (nullable = true)
 |-- Total expenditure: double (nullable = true)
 |-- Diphtheria : integer (nullable = true)
 |--  HIV/AIDS: double (nullable = true)
 |-- GDP: double (nullable = true)
 |-- Population: double (nullable = true)
 |--  thinness  1-19 years: double (nullable = true)
 |--  thinness 5-9 years: double (nullable = true)
 |-- Income composition of resources: double (nullable = true)
 |-- Schooling: double (nullable = true)

So now the columns are having different datatypes other than just string.

In [12]:
# alternate way of reading the csv with desired datatypes of the columns

file_path = '/content/drive/MyDrive/Colab Notebooks/life_exp_data.csv'
df_ps3 = spark.read.csv(file_path, header=True, inferSchema=True)
df_ps3.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Status: string (nullable = true)
 |-- Life expectancy : double (nullable = true)
 |-- Adult Mortality: integer (nullable = true)
 |-- infant deaths: integer (nullable = true)
 |-- Alcohol: double (nullable = true)
 |-- percentage expenditure: double (nullable = true)
 |-- Hepatitis B: integer (nullable = true)
 |-- Measles : integer (nullable = true)
 |--  BMI : double (nullable = true)
 |-- under-five deaths : integer (nullable = true)
 |-- Polio: integer (nullable = true)
 |-- Total expenditure: double (nullable = true)
 |-- Diphtheria : integer (nullable = true)
 |--  HIV/AIDS: double (nullable = true)
 |-- GDP: double (nullable = true)
 |-- Population: double (nullable = true)
 |--  thinness  1-19 years: double (nullable = true)
 |--  thinness 5-9 years: double (nullable = true)
 |-- Income composition of resources: double (nullable = true)
 |-- Schooling: double (nullable = true)

In [13]:
# printing the columns

print(df_ps3.columns)

['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling']

In [14]:
df_ps3.head(5)

[Row(Country='Afghanistan', Year=2015, Status='Developing', Life expectancy =65.0, Adult Mortality=263, infant deaths=62, Alcohol=0.01, percentage expenditure=71.27962362, Hepatitis B=65, Measles =1154,  BMI =19.1, under-five deaths =83, Polio=6, Total expenditure=8.16, Diphtheria =65,  HIV/AIDS=0.1, GDP=584.25921, Population=33736494.0,  thinness  1-19 years=17.2,  thinness 5-9 years=17.3, Income composition of resources=0.479, Schooling=10.1),
 Row(Country='Afghanistan', Year=2014, Status='Developing', Life expectancy =59.9, Adult Mortality=271, infant deaths=64, Alcohol=0.01, percentage expenditure=73.52358168, Hepatitis B=62, Measles =492,  BMI =18.6, under-five deaths =86, Polio=58, Total expenditure=8.18, Diphtheria =62,  HIV/AIDS=0.1, GDP=612.696514, Population=327582.0,  thinness  1-19 years=17.5,  thinness 5-9 years=17.5, Income composition of resources=0.476, Schooling=10.0),
 Row(Country='Afghanistan', Year=2013, Status='Developing', Life expectancy =59.9, Adult Mortality=268, infant deaths=66, Alcohol=0.01, percentage expenditure=73.21924272, Hepatitis B=64, Measles =430,  BMI =18.1, under-five deaths =89, Polio=62, Total expenditure=8.13, Diphtheria =64,  HIV/AIDS=0.1, GDP=631.744976, Population=31731688.0,  thinness  1-19 years=17.7,  thinness 5-9 years=17.7, Income composition of resources=0.47, Schooling=9.9),
 Row(Country='Afghanistan', Year=2012, Status='Developing', Life expectancy =59.5, Adult Mortality=272, infant deaths=69, Alcohol=0.01, percentage expenditure=78.1842153, Hepatitis B=67, Measles =2787,  BMI =17.6, under-five deaths =93, Polio=67, Total expenditure=8.52, Diphtheria =67,  HIV/AIDS=0.1, GDP=669.959, Population=3696958.0,  thinness  1-19 years=17.9,  thinness 5-9 years=18.0, Income composition of resources=0.463, Schooling=9.8),
 Row(Country='Afghanistan', Year=2011, Status='Developing', Life expectancy =59.2, Adult Mortality=275, infant deaths=71, Alcohol=0.01, percentage expenditure=7.097108703, Hepatitis B=68, Measles =3013,  BMI =17.2, under-five deaths =97, Polio=68, Total expenditure=7.87, Diphtheria =68,  HIV/AIDS=0.1, GDP=63.537231, Population=2978599.0,  thinness  1-19 years=18.2,  thinness 5-9 years=18.2, Income composition of resources=0.454, Schooling=9.5)]

In [15]:
# printing single column

print(df_ps3.select('Life expectancy '))
print("type : ", type(df_ps3.select('Life expectancy ')))

DataFrame[Life expectancy : double]
type :  <class 'pyspark.sql.dataframe.DataFrame'>

In [16]:
df_ps3.select('Life expectancy ').show()

+----------------+
|Life expectancy |
+----------------+
|            65.0|
|            59.9|
|            59.9|
|            59.5|
|            59.2|
|            58.8|
|            58.6|
|            58.1|
|            57.5|
|            57.3|
|            57.3|
|            57.0|
|            56.7|
|            56.2|
|            55.3|
|            54.8|
|            77.8|
|            77.5|
|            77.2|
|            76.9|
+----------------+
only showing top 20 rows

In [17]:
# printing multiple columns

print(df_ps3.select(['Status','Life expectancy ']))
print("type : ", type(df_ps3.select(['Status','Life expectancy '])))
print("head : ", df_ps3.select(['Status','Life expectancy ']).head(5))
print("---------------------------------------------------------------")
df_ps3.select(['Status','Life expectancy ']).show()

DataFrame[Status: string, Life expectancy : double]
type :  <class 'pyspark.sql.dataframe.DataFrame'>
head :  [Row(Status='Developing', Life expectancy =65.0), Row(Status='Developing', Life expectancy =59.9), Row(Status='Developing', Life expectancy =59.9), Row(Status='Developing', Life expectancy =59.5), Row(Status='Developing', Life expectancy =59.2)]
---------------------------------------------------------------
+----------+----------------+
|    Status|Life expectancy |
+----------+----------------+
|Developing|            65.0|
|Developing|            59.9|
|Developing|            59.9|
|Developing|            59.5|
|Developing|            59.2|
|Developing|            58.8|
|Developing|            58.6|
|Developing|            58.1|
|Developing|            57.5|
|Developing|            57.3|
|Developing|            57.3|
|Developing|            57.0|
|Developing|            56.7|
|Developing|            56.2|
|Developing|            55.3|
|Developing|            54.8|
|Developing|            77.8|
|Developing|            77.5|
|Developing|            77.2|
|Developing|            76.9|
+----------+----------------+
only showing top 20 rows

In [18]:
print(df_ps3['Status'])
print(type(df_ps3['Status']))
print(df_ps3['Status'].show()) # does not work

Column<b'Status'>
<class 'pyspark.sql.column.Column'>

TypeError: ignored

In [19]:
# Checking datatypes of the columns

df_ps3.dtypes

[('Country', 'string'),
 ('Year', 'int'),
 ('Status', 'string'),
 ('Life expectancy ', 'double'),
 ('Adult Mortality', 'int'),
 ('infant deaths', 'int'),
 ('Alcohol', 'double'),
 ('percentage expenditure', 'double'),
 ('Hepatitis B', 'int'),
 ('Measles ', 'int'),
 (' BMI ', 'double'),
 ('under-five deaths ', 'int'),
 ('Polio', 'int'),
 ('Total expenditure', 'double'),
 ('Diphtheria ', 'int'),
 (' HIV/AIDS', 'double'),
 ('GDP', 'double'),
 ('Population', 'double'),
 (' thinness  1-19 years', 'double'),
 (' thinness 5-9 years', 'double'),
 ('Income composition of resources', 'double'),
 ('Schooling', 'double')]

In [21]:
df_ps3.describe().show()

+-------+-----------+------------------+----------+-----------------+------------------+------------------+------------------+----------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+--------------------+---------------------+-------------------+-------------------------------+------------------+
|summary|    Country|              Year|    Status| Life expectancy |   Adult Mortality|     infant deaths|           Alcohol|percentage expenditure|       Hepatitis B|          Measles |              BMI |under-five deaths |             Polio| Total expenditure|      Diphtheria |          HIV/AIDS|               GDP|          Population| thinness  1-19 years| thinness 5-9 years|Income composition of resources|         Schooling|
+-------+-----------+------------------+----------+-----------------+------------------+------------------+------------------+----------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+--------------------+---------------------+-------------------+-------------------------------+------------------+
|  count|       2938|              2938|      2938|             2928|              2928|              2938|              2744|                  2938|              2385|              2938|              2904|              2938|              2919|              2712|             2919|              2938|              2490|                2286|                 2904|               2904|                           2771|              2775|
|   mean|       null|2007.5187202178352|      null|69.22493169398912|164.79644808743168|30.303948264125257|4.6028607871720375|     738.2512954533823| 80.94046121593291|2419.5922396187884| 38.32124655647373|  42.0357385976855| 82.55018842069202|5.9381895280235915|82.32408359027065|1.7421034717494939| 7483.158469138481|1.2753375120052498E7|   4.8397038567493205|  4.870316804407711|             0.6275510645976166|11.992792792792786|
| stddev|       null| 4.613840940258099|      null|9.523867487824305| 124.2920790034219|117.92650131339906| 4.052412658755658|     1987.914858016194|25.070015593018063| 11467.27248923461|20.044033502562083| 160.4455484057337|23.428045949468476| 2.498319672155633| 23.7169120685726| 5.077784531086547|14270.169341515959| 6.101209650842794E7|    4.420194947144322|  4.508882086983007|             0.2109035551515931|3.3589197211023554|
|    min|Afghanistan|              2000| Developed|             36.3|                 1|                 0|              0.01|                   0.0|                 1|                 0|               1.0|                 0|                 3|              0.37|                2|               0.1|           1.68135|                34.0|                  0.1|                0.1|                            0.0|               0.0|
|    max|   Zimbabwe|              2015|Developing|             89.0|               723|              1800|             17.87|           19479.91161|                99|            212183|              87.3|              2500|                99|              17.6|               99|              50.6|       119172.7418|       1.293859294E9|                 27.7|               28.6|                          0.948|              20.7|
+-------+-----------+------------------+----------+-----------------+------------------+------------------+------------------+----------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+--------------------+---------------------+-------------------+-------------------------------+------------------+

In [22]:
## adding columns

df_ps4 = df_ps3.withColumn('new_column_name', df_ps3['Year']+2)
df_ps4.show()

+-----------+----+----------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+-----------+-----------+---------------------+-------------------+-------------------------------+---------+---------------+
|    Country|Year|    Status|Life expectancy |Adult Mortality|infant deaths|Alcohol|percentage expenditure|Hepatitis B|Measles | BMI |under-five deaths |Polio|Total expenditure|Diphtheria | HIV/AIDS|        GDP| Population| thinness  1-19 years| thinness 5-9 years|Income composition of resources|Schooling|new_column_name|
+-----------+----+----------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+-----------+-----------+---------------------+-------------------+-------------------------------+---------+---------------+
|Afghanistan|2015|Developing|            65.0|            263|           62|   0.01|           71.27962362|         65|    1154| 19.1|                83|    6|             8.16|         65|      0.1|  584.25921|3.3736494E7|                 17.2|               17.3|                          0.479|     10.1|           2017|
|Afghanistan|2014|Developing|            59.9|            271|           64|   0.01|           73.52358168|         62|     492| 18.6|                86|   58|             8.18|         62|      0.1| 612.696514|   327582.0|                 17.5|               17.5|                          0.476|     10.0|           2016|
|Afghanistan|2013|Developing|            59.9|            268|           66|   0.01|           73.21924272|         64|     430| 18.1|                89|   62|             8.13|         64|      0.1| 631.744976|3.1731688E7|                 17.7|               17.7|                           0.47|      9.9|           2015|
|Afghanistan|2012|Developing|            59.5|            272|           69|   0.01|            78.1842153|         67|    2787| 17.6|                93|   67|             8.52|         67|      0.1|    669.959|  3696958.0|                 17.9|               18.0|                          0.463|      9.8|           2014|
|Afghanistan|2011|Developing|            59.2|            275|           71|   0.01|           7.097108703|         68|    3013| 17.2|                97|   68|             7.87|         68|      0.1|  63.537231|  2978599.0|                 18.2|               18.2|                          0.454|      9.5|           2013|
|Afghanistan|2010|Developing|            58.8|            279|           74|   0.01|           79.67936736|         66|    1989| 16.7|               102|   66|              9.2|         66|      0.1|  553.32894|  2883167.0|                 18.4|               18.4|                          0.448|      9.2|           2012|
|Afghanistan|2009|Developing|            58.6|            281|           77|   0.01|           56.76221682|         63|    2861| 16.2|               106|   63|             9.42|         63|      0.1|445.8932979|   284331.0|                 18.6|               18.7|                          0.434|      8.9|           2011|
|Afghanistan|2008|Developing|            58.1|            287|           80|   0.03|           25.87392536|         64|    1599| 15.7|               110|   64|             8.33|         64|      0.1|373.3611163|  2729431.0|                 18.8|               18.9|                          0.433|      8.7|           2010|
|Afghanistan|2007|Developing|            57.5|            295|           82|   0.02|           10.91015598|         63|    1141| 15.2|               113|   63|             6.73|         63|      0.1| 369.835796|2.6616792E7|                 19.0|               19.1|                          0.415|      8.4|           2009|
|Afghanistan|2006|Developing|            57.3|            295|           84|   0.03|           17.17151751|         64|    1990| 14.7|               116|   58|             7.43|         58|      0.1|  272.56377|  2589345.0|                 19.2|               19.3|                          0.405|      8.1|           2008|
|Afghanistan|2005|Developing|            57.3|            291|           85|   0.02|           1.388647732|         66|    1296| 14.2|               118|   58|              8.7|         58|      0.1| 25.2941299|   257798.0|                 19.3|               19.5|                          0.396|      7.9|           2007|
|Afghanistan|2004|Developing|            57.0|            293|           87|   0.02|           15.29606643|         67|     466| 13.8|               120|    5|             8.79|          5|      0.1|219.1413528|2.4118979E7|                 19.5|               19.7|                          0.381|      6.8|           2006|
|Afghanistan|2003|Developing|            56.7|            295|           87|   0.01|           11.08905273|         65|     798| 13.4|               122|   41|             8.82|         41|      0.1|198.7285436|  2364851.0|                 19.7|               19.9|                          0.373|      6.5|           2005|
|Afghanistan|2002|Developing|            56.2|              3|           88|   0.01|           16.88735091|         64|    2486| 13.0|               122|   36|             7.76|         36|      0.1|  187.84595|2.1979923E7|                 19.9|                2.2|                          0.341|      6.2|           2004|
|Afghanistan|2001|Developing|            55.3|            316|           88|   0.01|            10.5747282|         63|    8762| 12.6|               122|   35|              7.8|         33|      0.1|  117.49698|  2966463.0|                  2.1|                2.4|                           0.34|      5.9|           2003|
|Afghanistan|2000|Developing|            54.8|            321|           88|   0.01|              10.42496|         62|    6532| 12.2|               122|   24|              8.2|         24|      0.1|     114.56|   293756.0|                  2.3|                2.5|                          0.338|      5.5|           2002|
|    Albania|2015|Developing|            77.8|             74|            0|    4.6|           364.9752287|         99|       0| 58.0|                 0|   99|              6.0|         99|      0.1| 3954.22783|    28873.0|                  1.2|                1.3|                          0.762|     14.2|           2017|
|    Albania|2014|Developing|            77.5|              8|            0|   4.51|           428.7490668|         98|       0| 57.2|                 1|   98|             5.88|         98|      0.1|4575.763787|   288914.0|                  1.2|                1.3|                          0.761|     14.2|           2016|
|    Albania|2013|Developing|            77.2|             84|            0|   4.76|           430.8769785|         99|       0| 56.5|                 1|   99|             5.66|         99|      0.1| 4414.72314|   289592.0|                  1.3|                1.4|                          0.759|     14.2|           2015|
|    Albania|2012|Developing|            76.9|             86|            0|   5.14|           412.4433563|         99|       9| 55.8|                 1|   99|             5.59|         99|      0.1| 4247.61438|     2941.0|                  1.3|                1.4|                          0.752|     14.2|           2014|
+-----------+----+----------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+-----------+-----------+---------------------+-------------------+-------------------------------+---------+---------------+
only showing top 20 rows

In [23]:
df_ps4.columns

['Country',
 'Year',
 'Status',
 'Life expectancy ',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'percentage expenditure',
 'Hepatitis B',
 'Measles ',
 ' BMI ',
 'under-five deaths ',
 'Polio',
 'Total expenditure',
 'Diphtheria ',
 ' HIV/AIDS',
 'GDP',
 'Population',
 ' thinness  1-19 years',
 ' thinness 5-9 years',
 'Income composition of resources',
 'Schooling',
 'new_column_name']

In [24]:
## dropping columns

df_ps5 = df_ps4.drop('new_column_name')
df_ps5.columns

['Country',
 'Year',
 'Status',
 'Life expectancy ',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'percentage expenditure',
 'Hepatitis B',
 'Measles ',
 ' BMI ',
 'under-five deaths ',
 'Polio',
 'Total expenditure',
 'Diphtheria ',
 ' HIV/AIDS',
 'GDP',
 'Population',
 ' thinness  1-19 years',
 ' thinness 5-9 years',
 'Income composition of resources',
 'Schooling']

In [25]:
## renaming columns

df_ps6 = df_ps5.withColumnRenamed('Country', 'Countries')
print("old column names : ", df_ps5.columns)
print("new column names : ", df_ps6.columns)

old column names :  ['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling']
new column names :  ['Countries', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling']

## Tutorial 3

In [26]:
## Checking shape of Pyspark dataframe        
## there is function similar to shape, however we can use the following workaround

# workaround 1
import pyspark
def spark_shape(self):
  return (self.count(), len(self.columns))

print("With user-defined function : ", spark_shape(df_ps3))

# workaround 2
print("With Pandas : ", df_ps3.toPandas().shape)

With user-defined function :  (2938, 22)
With Pandas :  (2938, 22)

### Dropping rows containing missing values

In [38]:
print("Size of original dataframe")
print(spark_shape(df_ps6))
print("Size of the dataframe, If rows containing one or more na's are dropped")
print(spark_shape(df_ps6.na.drop()))
print("Size of the dataframe, If rows containing only na's are dropped")
print(spark_shape(df_ps6.na.drop(how='all')))
print("Size of the dataframe, If rows containing less than 20 not-null values are dropped")
print(spark_shape(df_ps6.na.drop(how='any', thresh=20)))

Size of original dataframe
(2938, 22)
Size of the dataframe, If rows containing one or more na's are dropped
(1649, 22)
Size of the dataframe, If rows containing only na's are dropped
(2938, 22)
Size of the dataframe, If rows containing less than 4 not-null values are dropped
(2666, 22)

### Finding number of missing values in each column

In [39]:
# finding count of null, none, NaN of all columns
from pyspark.sql.functions import col, isnan, when, count
df_ps6.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_ps6.columns]).show()

+---------+----+------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+---+----------+---------------------+-------------------+-------------------------------+---------+
|Countries|Year|Status|Life expectancy |Adult Mortality|infant deaths|Alcohol|percentage expenditure|Hepatitis B|Measles | BMI |under-five deaths |Polio|Total expenditure|Diphtheria | HIV/AIDS|GDP|Population| thinness  1-19 years| thinness 5-9 years|Income composition of resources|Schooling|
+---------+----+------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+---+----------+---------------------+-------------------+-------------------------------+---------+
|        0|   0|     0|              10|             10|            0|    194|                     0|        553|       0|   34|                 0|   19|              226|         19|        0|448|       652|                   34|                 34|                            167|      163|
+---------+----+------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+---+----------+---------------------+-------------------+-------------------------------+---------+

In [40]:
# dropping rows where a particular column has na's
spark_shape(df_ps6.na.drop(how='any', subset=['Life expectancy ']))

(2928, 22)

In [41]:
# filling the missing values for specific column

df_ps7 = df_ps6.na.fill(0, 'Life expectancy ')
df_ps7.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_ps7.columns]).show()

+---------+----+------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+---+----------+---------------------+-------------------+-------------------------------+---------+
|Countries|Year|Status|Life expectancy |Adult Mortality|infant deaths|Alcohol|percentage expenditure|Hepatitis B|Measles | BMI |under-five deaths |Polio|Total expenditure|Diphtheria | HIV/AIDS|GDP|Population| thinness  1-19 years| thinness 5-9 years|Income composition of resources|Schooling|
+---------+----+------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+---+----------+---------------------+-------------------+-------------------------------+---------+
|        0|   0|     0|               0|             10|            0|    194|                     0|        553|       0|   34|                 0|   19|              226|         19|        0|448|       652|                   34|                 34|                            167|      163|
+---------+----+------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+---+----------+---------------------+-------------------+-------------------------------+---------+

In [42]:
# filling the missing values for specific columns

df_ps8 = df_ps6.na.fill(0, ['Life expectancy ', 'Adult Mortality'])
df_ps8.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_ps8.columns]).show()

+---------+----+------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+---+----------+---------------------+-------------------+-------------------------------+---------+
|Countries|Year|Status|Life expectancy |Adult Mortality|infant deaths|Alcohol|percentage expenditure|Hepatitis B|Measles | BMI |under-five deaths |Polio|Total expenditure|Diphtheria | HIV/AIDS|GDP|Population| thinness  1-19 years| thinness 5-9 years|Income composition of resources|Schooling|
+---------+----+------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+---+----------+---------------------+-------------------+-------------------------------+---------+
|        0|   0|     0|               0|              0|            0|    194|                     0|        553|       0|   34|                 0|   19|              226|         19|        0|448|       652|                   34|                 34|                            167|      163|
+---------+----+------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+---+----------+---------------------+-------------------+-------------------------------+---------+

In [47]:
# imputing mean value 

from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Alcohol', 'Hepatitis B'],
    outputCols = ["{}_new".format(c) for c in ['Alcohol', 'Hepatitis B']]).setStrategy('mean')
# we can use median as well

In [50]:
df_ps9 = imputer.fit(df_ps8).transform(df_ps8)
print("Checking missing value count after imputing missing values")
df_ps9.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_ps9.columns]).show()

Checking missing value count after imputing missing values
+---------+----+------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+---+----------+---------------------+-------------------+-------------------------------+---------+-----------+---------------+
|Countries|Year|Status|Life expectancy |Adult Mortality|infant deaths|Alcohol|percentage expenditure|Hepatitis B|Measles | BMI |under-five deaths |Polio|Total expenditure|Diphtheria | HIV/AIDS|GDP|Population| thinness  1-19 years| thinness 5-9 years|Income composition of resources|Schooling|Alcohol_new|Hepatitis B_new|
+---------+----+------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+---+----------+---------------------+-------------------+-------------------------------+---------+-----------+---------------+
|        0|   0|     0|               0|              0|            0|    194|                     0|        553|       0|   34|                 0|   19|              226|         19|        0|448|       652|                   34|                 34|                            167|      163|          0|              0|
+---------+----+------+----------------+---------------+-------------+-------+----------------------+-----------+--------+-----+------------------+-----+-----------------+-----------+---------+---+----------+---------------------+-------------------+-------------------------------+---------+-----------+---------------+